In [19]:
import pandas as pd
import pingouin as pg
import numpy as np
dados = pd.read_excel("DadosLeituras2o.xlsx")
dados.head()

,Carimbo de data/hora,ID,Turma,Texto,INT1,INT2,INT3,INT4,INT5,INT6,INT7
0,2023-08-16 20:40:14.325,1,A,B,3,6,6,6,2,6,6
1,2023-08-16 20:30:25.504,1,A,A,2,6,5,5,2,6,6
2,2023-08-16 20:40:12.036,2,A,B,5,4,4,5,4,4,6
3,2023-08-16 20:30:59.127,2,A,A,5,5,3,3,1,5,7
4,2023-08-16 20:44:03.256,3,A,B,6,5,1,1,7,7,1

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Carimbo de data/hora  109 non-null    datetime64[ns]
 1   ID                    109 non-null    int64
 2   Turma                 109 non-null    object
 3   Texto                 109 non-null    object
 4   INT1                  109 non-null    int64
 5   INT2                  109 non-null    int64
 6   INT3                  109 non-null    int64
 7   INT4                  109 non-null    int64
 8   INT5                  109 non-null    int64
 9   INT6                  109 non-null    int64
 10  INT7                  109 non-null    int64
dtypes: datetime64[ns](1), int64(8), object(2)
memory usage: 9.5+ KB

In [8]:
dados.describe()

,Carimbo de data/hora,ID,INT1,INT2,INT3,INT4,INT5,INT6,INT7
count,109,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.00000
mean,2023-08-19 14:24:39.436596224,28.467890,4.477064,5.055046,4.220183,4.311927,2.935780,4.926606,4.66055
min,2023-08-16 20:28:09.434000,-1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000
25%,2023-08-16 20:39:51.788000,14.000000,4.000000,4.000000,3.000000,4.000000,1.000000,4.000000,4.00000
50%,2023-08-16 21:07:20.243000064,29.000000,4.000000,5.000000,4.000000,4.000000,3.000000,5.000000,5.00000
75%,2023-08-22 19:56:26.238000128,43.000000,5.000000,6.000000,5.000000,5.000000,4.000000,6.000000,6.00000
max,2023-08-22 20:06:47.046000,57.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.00000
std,NaN,16.903631,1.543183,1.451914,1.571493,1.549774,1.796474,1.602697,1.69542

In [9]:
dados.Turma.value_counts()

Turma
A    59
B    50
Name: count, dtype: int64

In [10]:
dados.Texto.value_counts()

Texto
B    58
A    51
Name: count, dtype: int64

In [11]:
print(dados.INT5)
dados.INT5 = dados.INT5.map({1: 7, 2: 6, 3: 5, 4: 4, 5: 3, 6: 2, 7: 1})
print(dados.INT5)

0      2
1      2
2      4
3      1
4      7
      ..
104    2
105    2
106    2
107    3
108    4
Name: INT5, Length: 109, dtype: int64
0      6
1      6
2      4
3      7
4      1
      ..
104    6
105    6
106    6
107    5
108    4
Name: INT5, Length: 109, dtype: int64

In [12]:

interesse = (dados.INT1 + dados.INT2 + dados.INT3 + dados.INT4 + dados.INT5 + dados.INT6 + dados.INT7) / 7
interesse

0      5.571429
1      5.142857
2      4.571429
3      5.000000
4      3.142857
         ...
104    4.714286
105    4.428571
106    6.142857
107    4.857143
108    4.428571
Length: 109, dtype: float64

In [28]:
dados["INT"] = interesse
dados.INT

0      5.571429
1      5.142857
2      4.571429
3      5.000000
4      3.142857
         ...
104    4.714286
105    4.428571
106    6.142857
107    4.857143
108    4.428571
Name: INT, Length: 109, dtype: float64

In [14]:
print(dados.shape)
dados = dados[dados.ID >= 0]
print(dados.shape)

(109, 12)
(107, 12)

In [15]:
print(dados.shape)

ids_duplos = dados.ID.value_counts().loc[lambda s: s == 2].index.tolist()

dados = dados[dados.ID.isin(ids_duplos)]

print(dados.shape)

(107, 12)
(100, 12)

In [20]:
pg.cronbach_alpha(data=dados[['INT1', 'INT2', 'INT3', 'INT4', 'INT5', 'INT6', 'INT7']])

(0.6150139152491525, array([0.494, 0.716]))

In [21]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Carimbo de data/hora  109 non-null    datetime64[ns]
 1   ID                    109 non-null    int64
 2   Turma                 109 non-null    object
 3   Texto                 109 non-null    object
 4   INT1                  109 non-null    int64
 5   INT2                  109 non-null    int64
 6   INT3                  109 non-null    int64
 7   INT4                  109 non-null    int64
 8   INT5                  109 non-null    int64
 9   INT6                  109 non-null    int64
 10  INT7                  109 non-null    int64
dtypes: datetime64[ns](1), int64(8), object(2)
memory usage: 9.5+ KB

In [22]:
dados.describe()

,Carimbo de data/hora,ID,INT1,INT2,INT3,INT4,INT5,INT6,INT7
count,109,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.00000
mean,2023-08-19 14:24:39.436596224,28.467890,4.477064,5.055046,4.220183,4.311927,2.935780,4.926606,4.66055
min,2023-08-16 20:28:09.434000,-1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000
25%,2023-08-16 20:39:51.788000,14.000000,4.000000,4.000000,3.000000,4.000000,1.000000,4.000000,4.00000
50%,2023-08-16 21:07:20.243000064,29.000000,4.000000,5.000000,4.000000,4.000000,3.000000,5.000000,5.00000
75%,2023-08-22 19:56:26.238000128,43.000000,5.000000,6.000000,5.000000,5.000000,4.000000,6.000000,6.00000
max,2023-08-22 20:06:47.046000,57.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.00000
std,NaN,16.903631,1.543183,1.451914,1.571493,1.549774,1.796474,1.602697,1.69542

In [23]:
dados.describe(include = "object")

       Turma Texto
count    109   109
unique     2     2
top        A     B
freq      59    58

In [24]:
dados.to_csv("Dados Preparados.csv")

In [29]:
#atividade 1 media
dados.INT.mean()

4.673656618610748

In [32]:
#atividade 2
media_por_turma = dados.groupby('Turma')[['INT1','INT2','INT3','INT4','INT5','INT6','INT7',]].mean()
estatisticas_resumidas = media_por_turma.describe()

In [34]:
print(media_por_turma)

           INT1      INT2      INT3      INT4      INT5      INT6      INT7
Turma
A      4.474576  4.949153  4.016949  4.271186  3.016949  5.016949  4.661017
B      4.480000  5.180000  4.460000  4.360000  2.840000  4.820000  4.660000

In [35]:
#atividade 3
media_de_texto = dados.groupby('Texto')[['INT1','INT2','INT3','INT4','INT5','INT6','INT7',]].mean()
estatisticas_resumidas = media_de_texto.describe()

In [36]:
print(media_de_texto)

           INT1      INT2      INT3      INT4     INT5      INT6      INT7
Texto
A      4.392157  5.058824  3.941176  4.215686  3.00000  4.921569  4.607843
B      4.551724  5.051724  4.465517  4.396552  2.87931  4.931034  4.706897