In [13]:
import pandas as pd
import pingouin as pg
import numpy as np
from scipy import stats
dados = pd.read_excel("DadosLeituras2o.xlsx")
dados.head()

,Carimbo de data/hora,ID,Turma,Texto,INT1,INT2,INT3,INT4,INT5,INT6,INT7
0,2023-08-16 20:40:14.325,1,A,B,3,6,6,6,2,6,6
1,2023-08-16 20:30:25.504,1,A,A,2,6,5,5,2,6,6
2,2023-08-16 20:40:12.036,2,A,B,5,4,4,5,4,4,6
3,2023-08-16 20:30:59.127,2,A,A,5,5,3,3,1,5,7
4,2023-08-16 20:44:03.256,3,A,B,6,5,1,1,7,7,1

In [14]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Carimbo de data/hora  109 non-null    datetime64[ns]
 1   ID                    109 non-null    int64
 2   Turma                 109 non-null    object
 3   Texto                 109 non-null    object
 4   INT1                  109 non-null    int64
 5   INT2                  109 non-null    int64
 6   INT3                  109 non-null    int64
 7   INT4                  109 non-null    int64
 8   INT5                  109 non-null    int64
 9   INT6                  109 non-null    int64
 10  INT7                  109 non-null    int64
dtypes: datetime64[ns](1), int64(8), object(2)
memory usage: 9.5+ KB

In [15]:
dados.describe()

,Carimbo de data/hora,ID,INT1,INT2,INT3,INT4,INT5,INT6,INT7
count,109,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.00000
mean,2023-08-19 14:24:39.436596224,28.467890,4.477064,5.055046,4.220183,4.311927,2.935780,4.926606,4.66055
min,2023-08-16 20:28:09.434000,-1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000
25%,2023-08-16 20:39:51.788000,14.000000,4.000000,4.000000,3.000000,4.000000,1.000000,4.000000,4.00000
50%,2023-08-16 21:07:20.243000064,29.000000,4.000000,5.000000,4.000000,4.000000,3.000000,5.000000,5.00000
75%,2023-08-22 19:56:26.238000128,43.000000,5.000000,6.000000,5.000000,5.000000,4.000000,6.000000,6.00000
max,2023-08-22 20:06:47.046000,57.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.00000
std,NaN,16.903631,1.543183,1.451914,1.571493,1.549774,1.796474,1.602697,1.69542

In [16]:
dados.Turma.value_counts()

Turma
A    59
B    50
Name: count, dtype: int64

In [17]:
dados.Texto.value_counts()

Texto
B    58
A    51
Name: count, dtype: int64

In [18]:
print(dados.INT5)
dados.INT5 = dados.INT5.map({1: 7, 2: 6, 3: 5, 4: 4, 5: 3, 6: 2, 7: 1})
print(dados.INT5)

0      2
1      2
2      4
3      1
4      7
      ..
104    2
105    2
106    2
107    3
108    4
Name: INT5, Length: 109, dtype: int64
0      6
1      6
2      4
3      7
4      1
      ..
104    6
105    6
106    6
107    5
108    4
Name: INT5, Length: 109, dtype: int64

In [19]:

interesse = (dados.INT1 + dados.INT2 + dados.INT3 + dados.INT4 + dados.INT5 + dados.INT6 + dados.INT7) / 7
interesse

0      5.571429
1      5.142857
2      4.571429
3      5.000000
4      3.142857
         ...
104    4.714286
105    4.428571
106    6.142857
107    4.857143
108    4.428571
Length: 109, dtype: float64

In [20]:
dados["INT"] = interesse
dados.INT

0      5.571429
1      5.142857
2      4.571429
3      5.000000
4      3.142857
         ...
104    4.714286
105    4.428571
106    6.142857
107    4.857143
108    4.428571
Name: INT, Length: 109, dtype: float64

In [21]:
print(dados.shape)
dados = dados[dados.ID >= 0]
print(dados.shape)

(109, 12)
(107, 12)

In [22]:
print(dados.shape)

ids_duplos = dados.ID.value_counts().loc[lambda s: s == 2].index.tolist()

dados = dados[dados.ID.isin(ids_duplos)]

print(dados.shape)

(107, 12)
(100, 12)

In [23]:
pg.cronbach_alpha(data=dados[['INT1', 'INT2', 'INT3', 'INT4', 'INT5', 'INT6', 'INT7']])

(0.8835430652450528, array([0.845, 0.915]))

In [24]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 108
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Carimbo de data/hora  100 non-null    datetime64[ns]
 1   ID                    100 non-null    int64
 2   Turma                 100 non-null    object
 3   Texto                 100 non-null    object
 4   INT1                  100 non-null    int64
 5   INT2                  100 non-null    int64
 6   INT3                  100 non-null    int64
 7   INT4                  100 non-null    int64
 8   INT5                  100 non-null    int64
 9   INT6                  100 non-null    int64
 10  INT7                  100 non-null    int64
 11  INT                   100 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(8), object(2)
memory usage: 10.2+ KB

In [25]:
dados.describe()

,Carimbo de data/hora,ID,INT1,INT2,INT3,INT4,INT5,INT6,INT7,INT
count,100,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,2023-08-19 17:25:36.276259840,29.040000,4.460000,5.060000,4.140000,4.270000,5.010000,4.920000,4.640000,4.642857
min,2023-08-16 20:28:09.434000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2023-08-16 20:39:26.599749888,14.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,3.964286
50%,2023-08-16 20:48:11.684000,29.500000,4.000000,5.000000,4.000000,4.000000,5.000000,5.000000,5.000000,4.714286
75%,2023-08-22 19:56:43.039000064,43.000000,5.000000,6.000000,5.000000,5.000000,7.000000,6.000000,6.000000,5.428571
max,2023-08-22 20:06:47.046000,57.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
std,NaN,16.613199,1.553231,1.482695,1.589231,1.568986,1.828478,1.643352,1.726326,1.251427

In [26]:
dados.describe(include = "object")

       Turma Texto
count    100   100
unique     2     2
top        A     B
freq      52    51

In [27]:
dados.to_csv("Dados Preparados.csv")

In [28]:
#atividade 1 media
dados.INT.mean()

4.642857142857143

In [ ]:
#PROF SINCERAMENTE AQUI EU NAO SABIA E NEM SEI QUAL ERA A FORMULA PARA FAZER TANTO O DESVIO PADRÃO QUANTO O DE MEDIAS ENTAO TIVE QUE COPIAR DO GOOGLE

desvio_padrao_medio = dados.std()

# Calcule o nível de confiança desejado em 95%
confianca = 0.95

# aqui pede pra que calcule o erro padrão das médias
erro_padrao_medio = stats.sem(dados)

# aqui ta pedindo pra que calcule o intervalo de confiança pras medias 
intervalo_confiancas = stats.t.interval(confianca, len(dados) - 1, loc=dados, scale=erro_padrao_medio)

# printis para exisbir tanto o intervalo de cnfiança quanto o desvio
print(f'Desvio Padrão das Médias: {desvio_padrao_medio}')
print(f'Intervalo de Confiança ({confianca * 100}%): {intervalo_confiancas}')

In [29]:
#atividade 2
media_por_turma = dados.groupby('Turma')[['INT1','INT2','INT3','INT4','INT5','INT6','INT7',]].mean()
estatisticas_resumidas = media_por_turma.describe()

In [30]:
print(media_por_turma)

           INT1      INT2      INT3      INT4      INT5      INT6      INT7
Turma
A      4.461538  4.961538  3.865385  4.230769  4.923077  5.057692  4.673077
B      4.458333  5.166667  4.437500  4.312500  5.104167  4.770833  4.604167

In [38]:

# Calcule o bagulho ta calculando o desvio padrão das medias
desvio_padrao_medio = media_por_turma.std()

# Calcule o nível de confiança desejado em 95%
confianca = 0.95

# aqui pede pra que calcule o erro padrão das médias
erro_padrao_medio = stats.sem(media_por_turma)

# aqui ta pedindo pra que calcule o intervalo de confiança pras medias 
intervalo_confiancas = stats.t.interval(confianca, len(media_por_turma) - 1, loc=media_por_turma, scale=erro_padrao_medio)

# printis para exisbir tanto o intervalo de cnfiança quanto o desvio
print(f'Desvio Padrão das Médias: {desvio_padrao_medio}')
print(f'Intervalo de Confiança ({confianca * 100}%): {intervalo_confiancas}')

Desvio Padrão das Médias: INT1    0.002266
INT2    0.145048
INT3    0.404547
INT4    0.057792
INT5    0.128050
INT6    0.202840
INT7    0.048727
dtype: float64
Intervalo de Confiança (95.0%): (array([[4.44117595, 3.65833798, 0.23067701, 3.71152529, 3.77259524,
        3.23524788, 4.23528301],
       [4.43797083, 3.86346618, 0.8027924 , 3.79325606, 3.95368499,
        2.9483889 , 4.16637275]]), array([[4.48190097, 6.26473895, 7.50009222, 4.75001317, 6.0735586 ,
        6.88013674, 5.11087084],
       [4.47869584, 6.46986715, 8.0722076 , 4.83174394, 6.25464835,
        6.59327776, 5.04196058]]))

In [31]:
#atividade 3
media_de_texto = dados.groupby('Texto')[['INT1','INT2','INT3','INT4','INT5','INT6','INT7',]].mean()
estatisticas_resumidas = media_de_texto.describe()

In [32]:
print(media_de_texto)

           INT1      INT2      INT3      INT4      INT5      INT6      INT7
Texto
A      4.326531  5.000000  3.836735  4.122449  4.979592  4.857143  4.530612
B      4.588235  5.117647  4.431373  4.411765  5.039216  4.980392  4.745098

In [37]:

# Calcule o bagulho ta calculando o desvio padrão das medias
desvio_padrao_media = media_de_texto.std()

# Calcule o nível de confiança desejado em 95%
confianca = 0.95

# aqui pede pra que calcule o erro padrão das médias
erro_padrao_media = stats.sem(media_de_texto)

# aqui ta pedindo pra que calcule o intervalo de confiança pras medias 
intervalo_confianca = stats.t.interval(confianca, len(media_de_texto) - 1, loc=media_de_texto, scale=erro_padrao_media)

# printis para exisbir tanto o intervalo de cnfiança quanto o desvio
print(f'Desvio Padrão das Médias: {desvio_padrao_media}')
print(f'Intervalo de Confiança ({confianca * 100}%): {intervalo_confianca}')

Desvio Padrão das Médias: /nINT1    0.185053
INT2    0.083189
INT3    0.420472
INT4    0.204577
INT5    0.042160
INT6    0.087150
INT7    0.151664
dtype: float64
Intervalo de Confiança (95.0%): (array([[2.66389398, 4.25257619, 0.05893953, 2.28439655, 4.60079542,
        4.07412744, 3.16796204],
       [2.92559866, 4.37022325, 0.65357738, 2.57371228, 4.66041927,
        4.19737674, 3.38244783]]), array([[5.98916725, 5.74742381, 7.61452986, 5.96050141, 5.35838826,
        5.64015828, 5.89326245],
       [6.25087193, 5.86507087, 8.20916771, 6.24981713, 5.41801211,
        5.76340757, 6.10774825]]))